body {
    background-color: black;
}

.titulo {
    color: red;
}

.img {
    width: 10;
}

.img {
    color: white;
    background: url(images/Formula2.jpg);
    background-repeat: no-repeat;
}

.lorem {
    text-align: start;
    padding: 60px 850px 0 0px;
    background-repeat: no-repeat;
}

.subtitulo {
 color: whitesmoke;
}

.boton {
margin:20px;
}